/* 초기화 */
@charset "utf=8";
/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    word-break: keep-all;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 전체 */
#wrap {
    width: 100%;
    height: 100%;
}

/* 헤더 */

/* 네비게이션-1440px */
@media screen and (min-width: 1440px) {
    .main {
        width: 100%;
        height: 100%;
        background-color: rgb(158, 187, 187);
        position: relative;
    }

    .header {
        max-width: 90rem;
        max-height: 6.25rem;
        background-color: blanchedalmond;
        padding: 0px 180px;
        margin: 0 auto;
        z-index: 100;
    }

    /* 로고 */
    .logo > img {
        width: 7.5rem;
        height: auto;
        margin-top: 36px;
        text-align: left;
        float: left;
    }

    .global_nav {
        float: right;
    }

    nav,
    ul {
        float: left;
    }

    .nav > li,
    .language > li {
        float: left;
        margin-top: 2.625rem;
        padding-left: 3.5rem;
    }

    .nav_link {
        font-size: 14px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        color: white;
    }

    .nav_link:hover {
        color: #fa2828;
    }

    .en {
        padding-left: 2rem !important;
    }

    .kr {
        color: #fa2828 !important;
    }

    .bar {
        font-weight: 300;
    }

    /* 본문- */
    .container {
        width: 100%;
        height: 100vh;
        background-color: aqua;
    }

    /* 슬라이드1 */
    .slide1 {
        width: 100vw;
        height: 100vh;
        background-image: url('../source/main_01.jpg');
        background-size: cover;
        position: absolute;
        z-index: -100;
    }

    /* 슬라이드2 */
    .slide2 {
        width: 100vw;
        height: 100vh;
        background-image: url('../source/main_02.jpg');
        background-size: cover;
        position: absolute;
        z-index: -100;
    }

    /* 슬라이드3 */
    .slide3 {
        width: 100vw;
        height: 100vh;
        background-image: url('../source/main_03.jpg');
        background-size: cover;
        position: absolute;
        z-index: -100;
    }

    /* 텍스트 박스 */
    .text_box {
        position: absolute;
        top: 53.5%;
        left: 220px;
        margin-top: -4.375rem;
    }

    h3 {
        font-family: Montserrat;
        font-size: 60px;
        font-weight: 700;
        color: white;
        line-height: 1.02;
        margin-bottom: 1.875rem;
    }

    .text {
        font-size: 22px;
        color: white;
        line-height: 1.36;
    }

    /* 섹션 */
    .sectioin {
        width: 100vw;
        min-height: 100px;
        background-color: #fa2828;
        z-index: 100;
    }
}

@media screen and (min-width: 540px) {
}
