/* 초기화 */
@charset "utf=8";
/* 폰트 */
@import url('https://webfontworld.github.io/naver/NanumBarunGothic.css');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    word-break: keep-all;
    font-family: 'NanumBarunGothic', sans-serif;
}

/* 전체 */
#wrapper {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

/* ----------------------------------- */

/* 헤더 */
#header {
    width: 100vw;
    position: fixed;
    z-index: 10;
}

.head_box {
    width: 100vw;
    height: 5rem;
}

.head_con {
    max-width: 90rem;
    height: 5rem;
    margin: 0% auto;
}

/* ----------------------------------- */

/* 헤더-로고 */
h1 > a > img {
    width: 7.5rem;
    float: left;
    margin-top: 2rem;
}

/* ----------------------------------- */

/* 헤더-네비게이션 */
.global_nav {
    float: right;
    margin-top: 2.2rem;
}

.global_nav > li {
    float: left;
}

.nav_link {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif !important;
    color: white;
    margin-left: 3.125rem;
}

.nav_link:hover {
    color: #fa2828;
}

.bar,
.bar:hover {
    color: #fff;
    font-weight: 100;
    cursor: default;
}

.en {
    margin-left: 1.5rem !important;
}

/* ----------------------------------- */

/* 메인컨텐츠 */
#contain {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    position: relative;
}

.main_con {
    width: 100vw;
    height: 100vh;
    background-color: blanchedalmond;
    position: relative;
}
.slide_list > li {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
}

.slide1 {
    background-image: url('source/main_01.jpg');
    background-size: cover;
}

/* 텍스트 */
.text_box {
    max-width: 90rem;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.text_box_inner {
    position: absolute;
    top: 50%;
    margin-top: -7rem;
}

h3 {
    color: #fff;
    font-family: Montserrat;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.02;
    margin-bottom: 1.875rem;
}

h4 {
    font-size: 22px;
    color: white;
    line-height: 1.36;
}

/* ----------------------------------- */

/* 서브컨텐츠 */
.time {
    max-width: 90rem;
    margin: 0 auto;
    position: absolute;
    bottom: 200px;
    right: 12%;
    z-index: 10;
}

.company {
    max-width: 90rem;
    margin: 0 auto;
    position: absolute;
    bottom: 200px;
    left: 12%;
    z-index: 10;
}

/* ----------------------------------- */

/* 주식/PRESS */
.cloum_box {
    width: 100vw;
    height: 10rem;
    clear: both;
    position: absolute;
    bottom: 0;
}

.stock {
    width: 50vw;
    height: 10rem;
    background-color: rgba(250, 40, 40, 0.8);
    float: left;
}

.press {
    width: 50vw;
    height: 10rem;
    background-color: rgba(35, 35, 35, 0.9);
    float: right;
}

/* ----------------------------------- */

/* 푸터-공지사항 */
.notice {
    width: 100vw;
    padding: 1rem 0rem;
    background-color: #fff;
}

.notice_box {
    max-width: 90rem;
    margin: 0 auto;
}

.notice_text > strong {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.notice_text > a {
    padding-left: 2rem;
    font-size: 14px;
    color: #494949;
}

/* ----------------------------------- */

/* 푸터-서술 */
.foot_ann {
    width: 100vw;
    padding: 2.5rem 0rem;
    background-color: #fff;
    border-top: solid 1px #d8d8d8;
}

.foot_ann_box {
    max-width: 90rem;
    margin: 0 auto;
}

.legal_list {
    clear: both;
}

.legal_text {
    float: left;
    color: #999;
    margin-right: 2rem;
    font-size: 14px;
    margin-bottom: 2rem;
}

.legal_text > strong {
    color: #494949;
}

.legal_text:hover {
    text-decoration: underline;
}

.copy {
    clear: both;
    font-family: 'Montserrat', sans-serif;
    color: #999;
    font-size: 14px;
}
