/* 초기화 */
@charset "utf=8";
/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    word-break: keep-all;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 전체 */
#wrapper {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

/* 헤더 */
#header {
    width: 100vw;
    height: 12.5rem;
    background-color: aliceblue;
}

/* 메인컨텐츠 */
#contain {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    position: relative;
}

/* 주식/PRESS */
.cloum_box {
    width: 100vw;
    height: 10rem;
    background-color: blueviolet;
    clear: both;
    position: absolute;
    bottom: 0;
}

.stock {
    width: 50vw;
    height: 10rem;
    background-color: antiquewhite;
    float: left;
}

.press {
    width: 50vw;
    height: 10rem;
    background-color: darkcyan;
    float: right;
}

/* 푸터-공지사항 */
.notice {
    width: 100vw;
    padding: 1rem 0rem;
    background-color: beige;
}

/* 푸터-서술 */
.foot_ann {
    width: 100vw;
    padding: 2rem 0rem;
}
