/* 초기화 */
@charset "utf=8";
/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    word-break: keep-all;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 전체 */
#wrapper {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

/* ----------------------------------- */

/* 헤더 */
#header {
    width: 100vw;
    position: fixed;
    z-index: 10;
}

.head_box {
    width: 100vw;
    height: 5rem;
}

.head_con {
    max-width: 90rem;
    height: 5rem;
    margin: 0% auto;
}

/* ----------------------------------- */

/* 헤더-로고 */
h1 > a > img {
    width: 7.5rem;
    float: left;
    margin-top: 1.5rem;
}

/* ----------------------------------- */

/* 헤더-네비게이션 */
.global_nav {
    float: right;
    margin-top: 1.5rem;
}

.global_nav > li {
    float: left;
}

.nav_link {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-left: 3.125rem;
}

.nav_link:hover {
    color: #fa2828;
}

.bar,
.bar:hover {
    color: #fff;
    font-weight: 100;
    cursor: default;
}

.en {
    margin-left: 1.5rem !important;
}

/* ----------------------------------- */

/* 메인컨텐츠 */
#contain {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    position: relative;
}

/* ----------------------------------- */

/* 주식/PRESS */
.cloum_box {
    width: 100vw;
    height: 10rem;
    background-color: blueviolet;
    clear: both;
    position: absolute;
    bottom: 0;
}

.stock {
    width: 50vw;
    height: 10rem;
    background-color: rgba(250, 40, 40, 0.8);
    float: left;
}

.press {
    width: 50vw;
    height: 10rem;
    background-color: rgba(35, 35, 35, 0.9);
    float: right;
}

/* ----------------------------------- */

/* 푸터-공지사항 */
.notice {
    width: 100vw;
    padding: 1rem 0rem;
    background-color: beige;
}

/* 푸터-서술 */
.foot_ann {
    width: 100vw;
    padding: 2rem 0rem;
}
